<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd" bootstrap="vendor/autoload.php">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">source</directory>
            <exclude>
                <file>tests</file>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log showUncoveredFiles="true" target="php://stdout" type="coverage-text"/>
    </logging>
    <testsuites>
        <testsuite name="Variable Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
